
body{background-color: lightskyblue;}

.form{
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 40px;
    padding:20px;
    border: 0.5px solid black;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    }

fieldset{
    background-color:aliceblue;
    }

input{
    text-align: center;
    margin: 5px 1px;
     }

input:hover{
    border: 2px solid dodgerblue;
    }

button{
    padding: 9px;
    background-color:dodgerblue;
    color: white;
    display: inline-block;
    font-size: 15px;
    margin: 4px 1px;
       }

button:hover{color: yellow;
}

